<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produtos</title>
    <link rel="stylesheet" href="static/cadastrar.css">
</head>
<body>
    <h1>Cadastrar Produtos</h1>
    <form action="" method="POST">
        <label>Nome:</label>
        <input type="text" name="nome_produto" required>

        <label>Preço:</label>
        <input type="number" name="preco" step="0.01" required>

        <label>Quantidade:</label>
        <input type="number" name="quantidade" required>

        <label>Categoria ID:</label>
        <input type="number" name="categoria_id" required>

        <label>Descrição:</label>
        <input type="text" name="descricao">

        <div class="buttons">
            <input type="submit" value="Cadastrar">
            <a href="/" class="button-link">Voltar</a>
        </div>
    </form>
</body>
</html>
