<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Protudos</title>
</head>
<body>
    <h1>Cadastrar Produtos</h1>
    <form action="" method = 'POST'>
        <label for="">Nome: </label><br>
        <input type="text" name="nome_produto"><br><br>
        <label for="">Preço: </label><br>
        <input type="number" name="preco"><br><br>
        <label for="">Quantidade: </label><br>
        <input type="number" name="quantidade"><br><br>
        <label for="">Categoria ID: </label><br>
        <input type="number" name="categoria_id"><br><br>
        <label for="">Descrição</label><br>
        <input type="text" name="descricao"><br><br>
        <input type="submit" value="Cadastrar">
        <input type="submit" value="Voltar" href="/">
    </form>
</body>
</html>