<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Produtos</title>
    <link rel="stylesheet" href="static/consulta.css">
</head>
<body>
    <h1>Consulta de Produtos</h1>

    <form action="" method="GET">
        <h3>Por favor, digite o ID:</h3>
        <input type="number" name="id_produto">
        <input type="submit" value="Enviar">
    </form>

    <table>
        <tr>
            <th>ID Produto</th>
            <th>ID Categoria</th>
            <th>Nome Produto</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Descrição</th>
            <th>Data Cadastro</th>
            <th>Ações</th>
        </tr>
        {% for produto in produto %}
        <tr>            
            <td>{{ produto.id_produto }}</td>
            <td>{{ produto.categoria_id }}</td>
            <td>{{ produto.nome_produto }}</td>
            <td>{{ produto.nome_categoria }}</td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.quantidade }}</td>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.data_cadastro }}</td>
            <td class="acoes">
                <a href="/editar-produto/{{ produto.id_produto }}" class="editar">Editar</a>
                <a href="/excluir-produto/{{ produto.id_produto }}" class="excluir">Excluir</a>
            </td>            
        </tr>
        {% endfor %}
    </table>

    <a href="/listar_produtos" class="button-link">Voltar</a>
</body>
</html>
