<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entradas de Estoque</title>
</head>
<body>
    <h1>Entradas de Estoque</h1>
    <form action="" method = 'POST'>
        <label for="">Produto ID: </label><br>
        <input type="number" name="produto_id"><br><br>
        <label for="">Quantidade: </label><br>
        <input type="number" name="quantidade"><br><br>
        <label for="">Preço: </label><br>
        <input type="number" name="preco"><br><br>
        <label for="">Fornecedor</label><br>
        <input type="text" name="fornecedor"><br><br>
        <input type="submit" value="Cadastrar">
        <input type="submit" value="Voltar" href="/">
    </form>
</body>
</html>