<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entradas de Estoque</title>
    <link rel="stylesheet" href="static/entrada.css">
</head>
<body>
    <h1>Entradas de Estoque</h1>

    <form action="" method="POST">
        <label for="produto_id">Produto ID:</label><br>
        <input type="number" id="produto_id" name="produto_id" required><br><br>

        <label for="quantidade">Quantidade:</label><br>
        <input type="number" id="quantidade" name="quantidade" required><br><br>

        <label for="preco">Preço:</label><br>
        <input type="number" id="preco" name="preco" required><br><br>

        <label for="fornecedor">Fornecedor:</label><br>
        <input type="text" id="fornecedor" name="fornecedor" required><br><br>

        <div class="buttons">
            <input type="submit" value="Cadastrar">
            <a href="/" class="button-link">Voltar</a>
        </div>
    </form>
</body>
</html>
