<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <h1>Controle de Estoque</h1>
    <div class="menu">
        <a href="/categorias"><button>Cadastrar Categoria</button></a>
        <a href="/cadastrar_produtos"><button>Cadastrar Produtos</button></a>
        <a href="/listar_produtos"><button>Listar Produtos</button></a>
        <a href="/entradas_estoque"><button>Entradas Estoque</button></a>
        <a href="/saida_estoque"><button>Saídas Estoque</button></a>
        <a href="/movimento_estoque"><button>Movimento Estoque</button></a>
        <a href="/listar_movimentaçoes"><button>Listar Movimentações</button></a>
        <a href="/fornecedores"><button>Fornecedores</button></a>
    </div>
</body>
</html>
