<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Movimentações</title>
    <link rel="stylesheet" href="static/lista_movi.css">
</head>
<body>
    <h1>Lista de Movimentações</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Produto ID</th>
                <th>Tipo de Movimento</th>
                <th>Quantidade</th>
                <th>Data Movimento</th>
                <th>Observação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.id_me }}</td>
                <td>{{ produto.produto_id }}</td>
                <td>{{ produto.tipo_movimento }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>{{ produto.data_movimento }}</td>
                <td>{{ produto.observacao }}</td>
                <td>
                    <!-- <a href="/editar_movimentacao/{{ produto.id_me }}">Editar</a>
                    <a href="/excluir_movimentacao/{{ produto.id_me }}" onclick="return confirm('Excluir esta movimentação?')">Excluir</a> -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
