<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Produtos</title>
    <link rel="stylesheet" href="static/estoque.css">
</head>
<body>
    <h1>Lista de Produtos</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Categoria ID</th>
            <th>Data Cadastro</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.id_produto }}</td>
            <td>{{ produto.nome_produto }}</td>
            <td>R$ {{ produto.preco }}</td>
            <td>{{ produto.quantidade }}</td>
            <td>{{ produto.categoria_id }}</td>
            <td>{{ produto.data_cadastro }}</td>
            <td>{{ produto.descricao }}</td>
            <td class="acoes">
                <a href="/atualizar_estoque/{{ produto.id_produto }}" class="editar">Atualizar</a>
                <a href="/excluir_estoque/{{ produto.id_produto }}" class="excluir" onclick="return confirm('Excluir Estoque {{produto.id_produto}}?')">Excluir</a>
            </td> 
        </tr>
        {% endfor %}
    </table>

    <div class="buttons">
        <a href="/" class="button-link">Voltar</a>
        <a href="/consultar_produto" class="button-link">Consultar Produto</a>
    </div>
</body>
</html>
