<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimento Estoque</title>
</head>
<body>
    <h1>Movimento Estoque</h1>
    <table border="1">
        <form action="" method="POST">
            <label for="">Produto ID: </label><br>
            <input type="number" name="produto_id"><br><br>
            <label for="">Tipo de movimento: </label><br>
            <select name="tipo_movimento">
                <option value="ENTRADA">ENTRADA</option>
                <option value="SAIDA">SAIDA</option>
            </select><br>
            <label for="">Quantidade: </label><br>
            <input type="number" name="quantidade"><br><br>
            <label for="">Observação</label><br>
            <input type="text" name="observacao"><br><br>
            <input type="submit" value="Enviar">
            <input type="submit" value="Voltar" href="/">
        </form>
    </table>
</body>
</html>